<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB_Farmacia" connectionString="server=.\SQLEXPRESS; database=BD2_TPI_G43; integrated security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
	<globalization culture="es-AR" uiCulture="es-AR" />
  </system.web>
</configuration>
